<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h1>Welcome to Products Management</h1>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Pranay Usgaonkar</h3>
      </div>

      <div class="text-center">@pranay</div>
      <!-- <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div> -->
    </div>
  </div>
</div>
