<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Quote</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save(newQuoteForm)" #newQuoteForm="ngForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="quote">Quote</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="quoteId"
            type="text"
            placeholder="Quote (required)"
            required
            minlength="5"
            [(ngModel)]="newQuote.quote"
            name="quote"
            #quoteVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (quoteVar.touched || quoteVar.dirty) && !quoteVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="quoteVar.errors?.['required']">
              Quote is required.
            </span>
            <span *ngIf="quoteVar.errors?.['minlength']">
              Quote must be longer than 5 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="authorId">Author</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="authorId"
            type="text"
            placeholder="Author (required)"
            required
            minlength="3"
            [(ngModel)]="newQuote.author"
            name="author"
            #authorVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (authorVar.touched || authorVar.dirty) && !authorVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="authorVar.errors?.['required']">
              Please enter author.
            </span>
            <span *ngIf="authorVar.errors?.['minlength']">
              Author must be greater then 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="tagsId">Tags</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="tagsId"
            type="text"
            placeholder="Tags (required)"
            required
            minlength="3"
            [(ngModel)]="newQuote.tags"
            name="tags"
            #tagsVar="ngModel"
            [ngClass]="{
              'is-invalid': (tagsVar.touched || tagsVar.dirty) && !tagsVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="tagsVar.errors?.['required']">
              Please enter tags.
            </span>
            <span *ngIf="tagsVar.errors?.['minlength']">
              tags must be greater then 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-3 mt-4">
        <div class="col-md-12" style="float: right; margin: auto; width: 50%">
          <button
            class="btn btn-secondary mr-3"
            style="width: 80px; margin-right: 5px"
            (click)="resetForm(newQuoteForm)"
          >
            Reset
          </button>

          <button
            class="btn btn-success mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              newQuoteForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!newQuoteForm.valid"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Save
        </button>
      </div> -->
</ng-template>

<a style="margin: 20; margin-left: 3%; cursor: pointer" (click)="open(content)">
  <!-- <UserAddOutlined /> -->
  New Quote
</a>

<!-- <pre>{{ closeResult }}</pre> -->
