thead {
  color: #337ab7;
}

table > tbody > tr.fold {
  display: none;
}

table > tbody > tr.fold.open {
  display: table-row;
}

.arrow-down {
  width: 20px;
  height: 40px;
  position: relative;
}

.arrow-down:before,
.arrow-down:after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background: gray;
  position: absolute;
  top: 20px;
  transition: transform 0.5s;
}

.arrow-down:before {
  right: 21px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}

.arrow-down:after {
  right: 10px;
  transform: rotate(-45deg);
}

.arrow-down.open:before {
  transform: rotate(-45deg);
}

.arrow-down.open:after {
  transform: rotate(45deg);
}
