.sidebar {
  margin: 10% 1% 1%;
  /* width: 50%; */
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
  display: inline-block;
}

p .sidebar {
  margin-bottom: 1rem;
}

.tag-pill {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 5px;
  margin-bottom: 0.2rem;
  display: inline-block !important;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  text-decoration: none;
}

a:hover {
  color: black !important;
  background-color: white !important;
}
