/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a:hover {
	color: black !important;
	background-color: white !important;
}

a {
	color: rgba(0, 0, 0, 0.5) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #5cb85c !important;
}

.ant-tabs-ink-bar {
	background: #5cb85c !important;
}

.ant-btn-primary {
	border-color: #5cb85c !important;
	background: #5cb85c !important;
}

.ant-tabs-tab:hover {
	color: #5cb85c !important;
}

.ant-btn {
	margin-right: 5px !important;
	float: right !important;
}

.anticon {
	vertical-align: middle !important;
	margin-right: 3px;
}
